#fullPage {
	min-height: 100vh;
}

#outlet{
	flex: 1 1 auto;
	display: flex;
	overflow: hidden;
  
	background-color: beige;
}

#footer {
    position: fixed;
    bottom: 0;
	width: 100%;
	background-color: lightblue;
}